.d-top-bar {
  height: 96px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 1px solid #e2e1dc;
}

.d-container {
  max-width: 1152px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.d-brand {
  width: 160px;
  height: 62px;
}

.d-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -12px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-row.d-logos__row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.d-col {
  padding: 12px;
}

.d-col.d-guide__col {
  width: 33.33%;
  text-align: center;
}

.d-col.d-logos__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12.5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-col.d-main__col-main {
  width: 58.33%;
}

.d-col.d-main__col-bar {
  width: 41.67%;
}

.d-bredcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Proximanova, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 400;
}

.d-bredcrumbs__icon {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  margin-left: 16px;
}

.d-guide {
  padding-top: 72px;
  padding-bottom: 72px;
  border-top: 1px solid #e2e1dc;
  border-bottom: 1px solid #e2e1dc;
  background-color: #f5fbfd;
}

.d-align-center {
  text-align: center;
}

.d-sec-heading {
  margin-top: 0px;
  margin-bottom: 48px;
  font-family: Proximanova, Arial, sans-serif;
  color: #333;
  font-size: 49px;
  line-height: 56px;
  font-weight: 300;
  text-transform: uppercase;
}

.d-guide__icon {
  width: 125px;
}

.d-guide__heading {
  max-width: 240px;
  margin: 28px auto 0px;
  font-family: Proximanova, Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.d-logos {
  padding-top: 56px;
  padding-bottom: 56px;
}

.d-footer {
  background-color: #f2f2f2;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-bredcrumbs__item {
  font-family: Proximanova, Arial, sans-serif;
  color: #333;
  font-weight: 600;
}

.d-bredcrumbs__item.d-bredcrumbs__item--disabled {
  color: #85878a;
}

.d-top-bar__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-top-bar__nav {
  width: 50%;
}

.d-top-bar__logo-wrap {
  width: 25%;
}

.d-info {
  padding-top: 56px;
  padding-bottom: 56px;
  border-top: 1px solid #e2e1dc;
}

.d-info__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.d-info__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  font-family: Proximanova, Arial, sans-serif;
  font-weight: 600;
}

.d-info__icon {
  width: 24px;
  height: 24px;
}

.d-info__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
}

.d-main {
  padding-top: 64px;
  padding-bottom: 94px;
}

.d-main__product-img {
  margin-bottom: 64px;
}

.d-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 324px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.d-btn {
  padding: 20px 48px;
  border-radius: 8px;
  background-color: #ff9f00;
  font-family: Proximanova, Arial, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.d-cta__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Proximanova, Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.d-cta__heading {
  text-transform: uppercase;
}

.d-cta__price {
  font-family: Proximanova, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.d-price-crossed {
  font-family: Proximanova, Arial, sans-serif;
  color: #85878a;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: line-through;
}

.d-main__heading {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Proximanova, Arial, sans-serif;
  color: #00a2e1;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.d-main__desc {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Proximanova, Arial, sans-serif;
  color: #85878a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.d-main__desc.d-main__desc--max-width {
  max-width: 368px;
}

.d-info-block {
  margin-bottom: 40px;
}

.d-info-block.d-info-block--mobile {
  display: none;
}

.d-info-block__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Proximanova, Arial, sans-serif;
  font-weight: 600;
}

.d-price {
  color: #ff9f00;
  font-size: 18px;
  line-height: 24px;
}

.d-info-block__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #333;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.d-kit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding: 20px 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e1dc;
  border-radius: 6px;
}

.d-kit__heading {
  margin-bottom: 8px;
  font-family: Proximanova, Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.d-kit__img-col {
  width: 50%;
  padding-right: 20px;
}

.d-kit__desc-col {
  width: 50%;
}

.d-kit__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  font-family: Proximanova, Arial, sans-serif;
  color: #85878a;
  font-weight: 400;
}

.d-kit__list-item {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  line-height: 24px;
}

.d-main__col-desc {
  width: 80%;
}

.d-info-block__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-main__price-col {
  width: 20%;
  margin-top: -8px;
  text-align: right;
}

.d-info-block__sub-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Proximanova, Arial, sans-serif;
  color: #85878a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.d-restock {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding: 20px 32px 20px 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e1dc;
  border-radius: 6px;
  font-family: Proximanova, Arial, sans-serif;
  font-weight: 400;
}

.d-restock__img-col {
  width: 45%;
}

.d-restock__desc-col {
  padding-left: 40px;
}

.d-restock__ammount {
  display: inline-block;
  margin-right: 23px;
  color: #85878a;
  font-size: 14px;
  line-height: 24px;
}

.d-restock__heading {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.d-restock__icon {
  position: absolute;
  left: auto;
  top: 0px;
  right: 32px;
  bottom: 0px;
  width: 24px;
  height: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

.d-set.d-set--expand {
  border-bottom: 1px solid #e2e1dc;
}

.d-set__header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Proximanova, Arial, sans-serif;
  font-weight: 600;
}

.d-set__header.d-set__header--expanded {
  cursor: pointer;
}

.d-set__expand-plus {
  position: absolute;
  top: 0px;
  right: 7px;
  bottom: 0px;
  width: 1px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #333;
}

.d-set__expand-minus {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 15px;
  height: 1px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #333;
}

.d-set__heading {
  margin-left: 8px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.d-set__heading--blue {
  color: #00a2e1;
}

.d-set__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.d-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  height: 64px;
  margin-right: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e1dc;
  border-radius: 6px;
  font-family: Proximanova, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 5%;
  text-transform: uppercase;
}

.d-option.d-option--active {
  border-color: #f5fbfd;
  background-color: #00a2e1;
  color: #fff;
}

.d-option__number {
  font-size: 22px;
}

.d-set__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 32px;
}

.d-modal-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 20px 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.25);
}

.d-modal {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  padding: 56px 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.d-modal__close {
  position: absolute;
  left: auto;
  top: 16px;
  right: 16px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.9;
  cursor: pointer;
}

.d-modal__close:hover {
  opacity: 1;
}

.d-modal__sub-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 78px;
  height: 30px;
  min-height: 30px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ff9f00;
  font-family: Proximanova, Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.d-modal__h {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: Proximanova, Arial, sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.d-modal__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -24px -24px -8px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-modal__col-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.d-modal__desc-title {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Proximanova, Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.d-modal-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Proximanova, Arial, sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 1.12em;
  font-weight: 400;
}

.d-modal-list {
  margin-top: -8px;
  margin-bottom: 16px;
}

.d-modal-list__ic {
  margin-right: 12px;
}

.d-modal__inline-btn {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: -8px;
  padding: 8px 12px;
  background-color: transparent;
  font-family: Proximanova, Arial, sans-serif;
  color: #85878a;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
  text-decoration: none;
}

.d-modal-cta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: left;
}

.d-modal-price {
  margin-bottom: 12px;
  font-family: Proximanova, Arial, sans-serif;
  font-size: 18px;
  line-height: 1em;
  font-weight: 600;
  text-align: left;
}

.d-modal-price__crossed {
  display: inline-block;
  margin-right: 4px;
  font-family: Proximanova, Arial, sans-serif;
  color: #85878a;
  font-weight: 400;
  text-decoration: line-through;
}

.d-modal-cta__btn {
  display: inline-block;
  margin-right: auto;
  padding: 20px 24px;
  border-radius: 8px;
  background-color: #ff9f00;
  font-family: Proximanova, Arial, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.d-modal__col-cta {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.d-modal__col-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 54%;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.d-modal-cta__btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .d-container.d-container--main {
    max-width: 620px;
  }
  .d-col.d-main__col-main {
    width: 100%;
  }
  .d-col.d-main__col-bar {
    width: 100%;
  }
  .d-info-block.d-info-block--desktop {
    display: none;
  }
  .d-info-block.d-info-block--mobile {
    display: block;
  }
  .d-modal {
    padding-right: 56px;
    padding-left: 56px;
  }
  .d-modal__row {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .d-modal__col-img {
    padding: 20px;
  }
  .d-modal__col-desc {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .d-top-bar {
    height: auto;
    padding-top: 4px;
    padding-bottom: 8px;
  }
  .d-brand {
    width: 80px;
    height: 31px;
  }
  .d-col.d-logos__col {
    width: 20%;
  }
  .d-col.d-main__col-main {
    margin-bottom: 16px;
  }
  .d-bredcrumbs__icon {
    margin-right: 8px;
    margin-left: 8px;
  }
  .d-top-bar__nav {
    width: 100%;
  }
  .d-top-bar__logo-wrap {
    width: 100%;
    padding-bottom: 8px;
    text-align: center;
  }
  .d-info {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .d-info__item {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .d-info__heading {
    margin-top: 12px;
    margin-left: 0px;
    line-height: 20px;
  }
  .d-main {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .d-modal {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    overflow: auto;
    padding: 16px 20px 20px;
    border-radius: 0px;
    box-shadow: none;
  }
  .d-modal__close {
    top: 12px;
    right: 12px;
  }
  .d-modal__sub-title {
    width: 70px;
    height: 20px;
    min-height: 20px;
    margin-bottom: 12px;
    padding-top: 1px;
    font-size: 12px;
  }
  .d-modal__h {
    margin-bottom: 16px;
    font-size: 20px;
  }
  .d-modal__row {
    margin: -12px -12px 24px;
  }
  .d-modal__col-img {
    width: 100%;
    padding: 12px;
  }
  .d-modal__img {
    width: 100%;
    max-width: 340px;
  }
  .d-modal-cta {
    margin-right: auto;
    margin-left: auto;
  }
  .d-modal-price {
    text-align: center;
  }
  .d-modal-cta__btn {
    padding-right: 32px;
    padding-left: 32px;
  }
  .d-modal__col-desc {
    width: 100%;
    padding: 12px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media (max-width: 479px) {
  .d-col.d-guide__col {
    width: 100%;
    padding-bottom: 28px;
  }
  .d-col.d-logos__col {
    width: 33.33%;
  }
  .d-guide {
    padding-top: 56px;
    padding-bottom: 28px;
  }
  .d-sec-heading {
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 40px;
  }
  .d-guide__icon {
    width: 94px;
  }
  .d-guide__heading {
    margin-top: 16px;
  }
  .d-logos {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .d-main__product-img {
    margin-bottom: 0px;
  }
  .d-cta {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    max-width: 100%;
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 -2px 8px 0 rgba(13, 25, 56, 0.08);
  }
  .d-btn {
    height: 54px;
    font-size: 16px;
  }
  .d-cta__info {
    margin-bottom: 8px;
  }
  .d-price {
    margin-left: 8px;
  }
  .d-info-block__heading {
    font-size: 16px;
  }
  .d-kit {
    padding-right: 12px;
    padding-left: 12px;
  }
  .d-kit__heading {
    font-size: 13px;
  }
  .d-kit__img-col {
    width: 38%;
    padding-right: 4px;
  }
  .d-kit__desc-col {
    width: 62%;
  }
  .d-restock {
    padding-left: 16px;
  }
  .d-restock__img-col {
    width: 40%;
  }
  .d-restock__desc-col {
    padding-left: 16px;
  }
  .d-restock__icon {
    right: 16px;
  }
  .d-modal__h {
    margin-bottom: 12px;
  }
  .d-modal__img {
    max-width: 220px;
  }
  .d-modal__desc-title {
    margin-bottom: 12px;
  }
  .d-modal-list__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .d-modal-list {
    margin-bottom: 12px;
  }
  .d-modal-cta {
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .d-modal-price {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .d-modal-cta__btn {
    height: 54px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
  }
  .d-modal__col-desc {
    padding-top: 8px;
  }
}

@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}